@font-face {
    font-family: 'Forza';
    src: local('Forza Medium'), local('Forza-Medium'),
        url('Forza-Medium.woff2') format('woff2'),
        url('Forza-Medium.woff') format('woff'),
        url('Forza-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

.bluebox{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 0;
}
.boxin{
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.cardhead{
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;

}
.first{

    width:100%;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(207, 207, 253, 0.2);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 255, .2);
    margin-bottom: 10px;
    


}

.second{
    width:100%;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(207, 207, 253, 0.2);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 255, .2);

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;


}
.third{
    width:100%;
    height: 650px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(207, 207, 253, 0.2);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 255, .2);
    margin-bottom: 10px;

    
}
.first:hover{

    width: 100%;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(201, 201, 201);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 255, .2);
    margin-bottom: 10px;


}

.second:hover{
    background-color: rgb(201, 201, 201);

    width:100%;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 255, .2);

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;


}
.third:hover{
    width:100%;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 201, 201);
    
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 255, .2);
    margin-bottom: 10px;

    
}
.dlex{
    display: flex;
}
  
.textdec{
    font-family: "Forza";
  margin-top: 10px;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: -10px;
 
   
}
.transform{
    position: relative;
  background-color: gray;
  width: 38px;
  height: 2px;
  bottom: 14px;
  transform:rotate(152deg) ;


}
.halt{
    position: relative;
    top: 12px;
    font-size: 19px;
    opacity: 0.8;
    font-weight: 900;
    font-family: "Forza";
}
.slash{
    font-size: 20px;
    margin-top: 12px;

    
}
.fontsm{
  font-family: "Forza";
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
  

   
}
.boxinside{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    
}
.withostiki{
    font-size: 18px;
    opacity: 0.5;
    font-family: "Forza";
}
.meethostiki{
    display: flex;
    align-items: center;
    
    font-size: 35px;
    font-weight: 700;
}
.spn{
    
    display: flex;
    justify-content: center;
    border-bottom: 2px solid orangered;
   
    
    
}
.linux{
    object-fit: contain;
}
.windows{
    object-fit: contain;
}
.ptag{
    
    width: 70%;
    align-items: center;
    text-align: center;
   padding-top: 20px;
   padding-left: 50px;


}
.p{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    font-family: "Forza";
    font-weight: 600;
}
.images{
    display: flex;
    justify-content: center;
}
.sepeteEkle{
    width: 140px;
    height: 40px;
    background: #FF7900 ;
border-radius: 4px;
margin-bottom: 20px;
outline: none;
border:1px solid  #FF7900;

}
.sepeteEkle:hover{
    width: 140px;
    height: 40px;
    background: #fca151 ;
border-radius: 4px;
margin-bottom: 20px;
outline: none;
border:1px solid  #FF7900;

}
.advancedimage{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advancedimages{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigfoto{

    object-fit: contain;
    width: 108px;
    height: 108px;
    margin-bottom: -3px;
}


.price{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.butonmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headForza{
    font-family: "Forza";
    font-weight: 700;
}
.strong{
    width: 200px;
    border: 1px solid rgb(211, 211, 211);
    border-left: none;
    border-right: none;
    padding: 10px;
    text-align: center;
  

   


}

.strongtwo{
    text-align: center;
    width: 190px;
    border: 1px solid rgb(211, 211, 211);
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 10px;
    

}
.arrow{
margin-left: 12px;
margin-bottom: 2px;
}


@media only screen and (min-width: 1200px) {
   
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
   

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
 
 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
   
 
}
@media only screen and (max-width: 574px) {
    .cardhead{
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-top: 10px;
        width: 1200px;
        align-items: center;
        justify-content: center;
        
        
    
    }
    .ptag{
    
        width: 30%;
        align-items: center;
        text-align: center;
       padding-top: 20px;
       padding-left: 50px;
    
    
    }
    .meethostiki{
        display: flex;
        align-items: center;
        
        font-size: 30px;
        font-weight: 700;
    }
    
   
 
 
}